<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
</head>
<body>

    <div class="container">

      <form class="form-signin" method="post">
          {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="user">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
          <p style="color: red;font-size: 20px">
            {{ error }}
        </p>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <a href="{% url 'app01:register' %}" style="font-size: 20px;text-decoration: none;color: blue">注册</a>
      </form>

    </div> <!-- /container -->



</body>
{#<body>#}
{#    {% load static %}#}
{#<div style="height: 500px;margin: 10px;background-image: url('/static/2.jpg')" >#}
{#    <form action="" method="post" style="float: right;margin-top: 200px;margin-right: 40%">#}
{#        <p style="font-size: 20px;color: orangered">用户登录</p>#}
{#        <p>#}
{#            用户名: <input type="text" name="user" style="height: 25px">#}
{#        </p>#}
{#        <p>#}
{#            密 &nbsp;&nbsp;码: <input type="password" name="password" style="height: 25px">#}
{#        </p>#}
{#        <p style="color: red;font-size: 20px">#}
{#            {{ error }}#}
{#        </p>#}
{#    <input type="submit" value="提交">#}
{#        <a href="{% url 'app01:register' %}" style="font-size: 20px;text-decoration: none;color: white">注册</a>#}
{#    <button style="font-size: 20px;color: red;margin-left: 127px">登录</button>#}
{##}
{#    </form>#}
{#</div>#}
{##}
{##}
{#</body>#}
</html>