<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="" method="post" style="float: right;margin-top: 200px;margin-right: 40%">
        <p style="font-size: 20px;color: orangered">用户注册</p>
        <p>
            用户名: <input type="text" name="user" style="height: 25px">
        </p>
        <p>
            密 &nbsp;&nbsp;码: <input type="password" name="password" style="height: 25px">
        </p>
        <p style="color: red;font-size: 20px">
            {{ error }}
        </p>
{#    <input type="submit" value="提交">#}
    <button style="font-size: 20px;color: red;">提交</button>

</form>
</body>